<h1>Listing hosts</h1>

<%= search_form_for @search, url: search_hosts_path, html: {method: :post} do |f| %>
  <% f.select :os_release_xame_eq, options_from_collection_for_select(OsRelease.all, :id, :name), include_blank: true %>
  <%= f.condition_fields do |c| %>
    <div class="field">
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select associations: [:os_release], default: :reference %>
      <% end %>

      <%= c.predicate_select compounds: false, default: :equals %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Search", onClick: "$(this).closest('form').attr('action', '#{ search_hosts_path(format: :html) }')" %>
  </div>
<% end %>

<table>
  <tr>
    <th>id</th>
    <th>fqdn</th>
    <th>os release</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hosts.each do |host| %>
  <tr>
    <td><%= host.id %></td>
    <td><%= host.fqdn %></td>
    <td><%= host.os_release ? host.os_release.name : "nil" %></td>
    <td><%= link_to 'Show', host %></td>
    <td><%= link_to 'Edit', edit_host_path(host) %></td>
    <td><%= link_to 'Destroy', host, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Host', new_host_path %>
